@import './base.css';
@import 'materialize-css/dist/css/materialize.min.css';
@import 'material-icons/iconfont/material-icons.css';

.login {
  position: fixed;
  inset: 0px;
  width: 30rem;
  height: fit-content;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
}

.btn-extended {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
